# Initial Creation of Red, Green, Blue files (no aggregation / merging)

In [ ]:
import xml.etree.ElementTree as ET
import datetime
import csv
import pandas as pd
import numpy as np

In [2]:
def captureRoot(filePath):
    startTime = datetime.datetime.now()
    print(str(startTime)+"| Starting Root capture for %s" % (filePath))
    root = ET.parse(filePath).getroot()
    endTime = datetime.datetime.now()
    print(str(endTime)+"| Capture Complete! Duration: %i sec" % ((endTime-startTime).seconds))
    return root

In [6]:
#Blue (Stand: HKCategoryTypeIdentifierAppleStandHour
#Green (Exercise): HKQuantityTypeIdentifierAppleExerciseTime
#Red (Active Energy): HKQuantityTypeIdentifierActiveEnergyBurned

def captureSingleRecordType(rootList, typeToCapture):
    startTime = datetime.datetime.now()
    print(str(startTime)+"| Starting Record capture for %s" % (typeToCapture))
    rtnList = [[] for _ in rootList]
    for idx, root in enumerate(rootList):
        for child in root:
            if "type" not in child.attrib.keys():
                continue
            if child.attrib['type'] == typeToCapture:
                rtnList[idx].append(child.attrib)
    endTime = datetime.datetime.now()
    print(str(endTime)+"| Capture Complete! Duration: %i sec" % ((endTime-startTime).seconds))
    return rtnList

In [7]:
alexRoot = captureRoot("alexAppleHealthData/export.xml")
jamesRoot = captureRoot("jamesAppleHealthData/export.xml")

2020-01-03 16:43:20.464066| Starting capture for alexAppleHealthData/export.xml
2020-01-03 16:48:33.475213| Capture Complete! Duration: 313 sec
2020-01-03 16:48:33.653719| Starting capture for jamesAppleHealthData/export.xml
2020-01-03 16:48:57.026247| Capture Complete! Duration: 23 sec

In [8]:
standData = captureSingleRecordType([alexRoot, jamesRoot], 'HKCategoryTypeIdentifierAppleStandHour')
exerciseData = captureSingleRecordType([alexRoot, jamesRoot], 'HKQuantityTypeIdentifierAppleExerciseTime')
activeEnergyData = captureSingleRecordType([alexRoot, jamesRoot], 'HKQuantityTypeIdentifierActiveEnergyBurned')

2020-01-03 16:48:58.103886| Starting Record capture for HKCategoryTypeIdentifierAppleStandHour
2020-01-03 16:49:48.172841| Capture Complete! Duration: 50 sec
2020-01-03 16:49:48.183287| Starting Record capture for HKQuantityTypeIdentifierAppleExerciseTime
2020-01-03 16:50:09.698521| Capture Complete! Duration: 21 sec
2020-01-03 16:50:09.705400| Starting Record capture for HKQuantityTypeIdentifierActiveEnergyBurned
2020-01-03 16:50:34.876118| Capture Complete! Duration: 25 sec

In [10]:
startTime = datetime.datetime.now()
print(str(startTime)+"| Writing Stand Data...")
pd.DataFrame(standData[0])\
    .drop(labels=['device', 'sourceName', 'sourceVersion', 'type', 'creationDate', 'startDate'], axis=1)\
    .to_csv("alexAppleHealthData/stand.csv")
pd.DataFrame(standData[1])\
    .drop(labels=['device', 'sourceName', 'sourceVersion', 'type', 'creationDate', 'startDate'], axis=1)\
    .to_csv("jamesAppleHealthData/stand.csv")
endTime = datetime.datetime.now()
print(str(endTime)+"| Stand Data Write Complete! Duration: %i sec" % ((endTime-startTime).seconds))
    
startTime = datetime.datetime.now()
print(str(startTime)+"| Writing Exercise Data...")
pd.DataFrame(exerciseData[0])\
    .drop(labels=['device', 'sourceName', 'sourceVersion', 'type', 'creationDate', 'startDate'], axis=1)\
    .to_csv("alexAppleHealthData/exercise.csv")
pd.DataFrame(exerciseData[1])\
    .drop(labels=['device', 'sourceName', 'sourceVersion', 'type', 'creationDate', 'startDate'], axis=1)\
    .to_csv("jamesAppleHealthData/exercise.csv")
endTime = datetime.datetime.now()
print(str(endTime)+"| Exercise Data Write Complete! Duration: %i sec" % ((endTime-startTime).seconds))

startTime = datetime.datetime.now()
print(str(startTime)+"| Writing Active Energy Data...")
pd.DataFrame(activeEnergyData[0])\
    .drop(labels=['device', 'sourceName', 'sourceVersion', 'type', 'creationDate', 'startDate'], axis=1)\
    .to_csv("alexAppleHealthData/activeEnergy.csv")
pd.DataFrame(activeEnergyData[1])\
    .drop(labels=['device', 'sourceName', 'sourceVersion', 'type', 'creationDate', 'startDate'], axis=1)\
    .to_csv("jamesAppleHealthData/activeEnergy.csv")
endTime = datetime.datetime.now()
print(str(endTime)+"| Active Energy Data Write Complete! Duration: %i sec" % ((endTime-startTime).seconds))

2020-01-03 16:52:12.630697| Writing Stand Data...
2020-01-03 16:52:13.279185| Stand Data Write Complete! Duration: 0 sec
2020-01-03 16:52:13.279538| Writing Exercise Data...
2020-01-03 16:52:14.865702| Exercise Data Write Complete! Duration: 1 sec
2020-01-03 16:52:14.866104| Writing Active Energy Data...
2020-01-03 16:52:44.618916| Active Energy Data Write Complete! Duration: 29 sec

# Aggregation and Merging of Red, Green, Blue files

In [11]:
import pandas as pd
import numpy as np

### Blue file (Stand)

In [66]:
alexDf = pd.read_csv('alexAppleHealthData/stand.csv', index_col=0, dtype=str)
jamesDf = pd.read_csv('jamesAppleHealthData/stand.csv', index_col=0, dtype=str)

dfList = [alexDf, jamesDf]
for i in range(len(dfList)):
    dfList[i]['endDate'] = dfList[i]['endDate'].str.slice(0,10)
    dfList[i]['value'] = dfList[i]['value'].map({'HKCategoryValueAppleStandHourStood': 1, 'HKCategoryValueAppleStandHourIdle': 0})
    dfList[i] = dfList[i].groupby("endDate").agg({'value': 'sum'}).reset_index()

In [73]:
#Unclear on why suffixes are not reversed when left=dfList[0]='Alex'
mergeDf = pd.merge(left=dfList[0], right=dfList[1], how='outer', on='endDate', suffixes={"_james", "_alex"})

In [82]:
mergeDf.to_csv("output/stand.csv", index=False)

### Green File (Exercise)

In [86]:
alexDf = pd.read_csv('alexAppleHealthData/exercise.csv', index_col=0)
jamesDf = pd.read_csv('jamesAppleHealthData/exercise.csv', index_col=0)

dfList = [alexDf, jamesDf]
for i in range(len(dfList)):
    dfList[i]['endDate'] = dfList[i]['endDate'].str.slice(0,10)
    dfList[i] = dfList[i].groupby("endDate").agg({'value': 'sum'}).reset_index()

In [89]:
#Unclear on why suffixes are not reversed when left=dfList[0]='Alex'
mergeDf = pd.merge(left=dfList[0], right=dfList[1], how='outer', on='endDate', suffixes={"_james", "_alex"})

In [91]:
mergeDf.to_csv("output/exercise.csv", index=False)

### Red File (Active Energy)

In [92]:
alexDf = pd.read_csv('alexAppleHealthData/activeEnergy.csv', index_col=0)
jamesDf = pd.read_csv('jamesAppleHealthData/activeEnergy.csv', index_col=0)

dfList = [alexDf, jamesDf]
for i in range(len(dfList)):
    dfList[i]['endDate'] = dfList[i]['endDate'].str.slice(0,10)
    dfList[i] = dfList[i].groupby("endDate").agg({'value': 'sum'}).reset_index()

/anaconda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:395: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [94]:
#Unclear on why suffixes are not reversed when left=dfList[0]='Alex'
mergeDf = pd.merge(left=dfList[0], right=dfList[1], how='outer', on='endDate', suffixes={"_james", "_alex"})

In [96]:
mergeDf.to_csv("output/activeEnergy.csv", index=False)

# Aggregating the 3 files together

In [97]:
import pandas as pd
import numpy as np

In [115]:
standDf = pd.read_csv("output/stand.csv")
exerciseDf = pd.read_csv("output/exercise.csv")
activeEnergyDf = pd.read_csv("output/activeEnergy.csv")

standDf.columns = ['endDate', 'stand_alex', 'stand_james']
exerciseDf.columns = ['endDate', 'exercise_alex', 'exercise_james']
activeEnergyDf.columns = ['endDate', 'activeEnergy_alex', 'activeEnergy_james']

In [117]:
standDf.merge(exerciseDf, how='outer', on='endDate')

         endDate  stand_alex  stand_james  exercise_alex  exercise_james
0     2015-10-12         2.0          NaN            6.0             NaN
1     2015-10-13        16.0          NaN           35.0             NaN
2     2015-10-14        14.0          NaN           49.0             NaN
3     2015-10-15        14.0          NaN           29.0             NaN
4     2015-10-16        15.0          NaN           95.0             NaN
5     2015-10-17        17.0          NaN          109.0             NaN
6     2015-10-18        15.0          NaN           42.0             NaN
7     2015-10-19        14.0          NaN           31.0             NaN
8     2015-10-20        13.0          NaN           32.0             NaN
9     2015-10-21        16.0          NaN           61.0             NaN
10    2015-10-22        14.0          NaN           31.0             NaN
11    2015-10-23        15.0          NaN           93.0             NaN
12    2015-10-24        17.0          NaN           93.0             NaN
13    2015-10-25        14.0          NaN           32.0             NaN
14    2015-10-26        16.0          NaN           34.0             NaN
15    2015-10-27        14.0          NaN           51.0             NaN
16    2015-10-28        16.0          NaN           33.0             NaN
17    2015-10-29        18.0          NaN           31.0             NaN
18    2015-10-30        17.0          NaN           61.0             NaN
19    2015-10-31        19.0          NaN           84.0             NaN
20    2015-11-01        15.0          NaN           45.0             NaN
21    2015-11-02        15.0          NaN           48.0             NaN
22    2015-11-03        16.0          NaN           43.0             NaN
23    2015-11-04        16.0          NaN           36.0             NaN
24    2015-11-05        18.0          NaN           30.0             NaN
25    2015-11-06        14.0          NaN           32.0             NaN
26    2015-11-07         9.0          NaN           52.0             NaN
27    2015-11-08        13.0          NaN           47.0             NaN
28    2015-11-09        18.0          NaN           35.0             NaN
29    2015-11-10        14.0          NaN           48.0             NaN
...          ...         ...          ...            ...             ...
1508  2019-12-04        18.0         18.0           84.0            87.0
1509  2019-12-05        15.0         14.0           66.0            60.0
1510  2019-12-06        14.0         16.0           36.0           111.0
1511  2019-12-07        11.0         16.0            9.0            62.0
1512  2019-12-08        11.0          9.0           90.0            16.0
1513  2019-12-09        14.0         11.0          103.0            83.0
1514  2019-12-10        17.0         17.0           69.0            51.0
1515  2019-12-11        15.0         18.0           36.0            88.0
1516  2019-12-12        11.0         16.0          130.0            78.0
1517  2019-12-13        12.0         16.0          118.0            22.0
1518  2019-12-14        19.0         10.0           49.0            36.0
1519  2019-12-15        11.0         10.0           12.0            34.0
1520  2019-12-16        14.0         17.0           42.0           103.0
1521  2019-12-17        16.0         14.0           78.0            19.0
1522  2019-12-18        13.0         17.0           38.0            84.0
1523  2019-12-19        15.0         16.0          122.0            20.0
1524  2019-12-20         8.0         18.0           41.0            93.0
1525  2019-12-21        11.0         14.0           84.0            59.0
1526  2019-12-22        11.0         16.0           40.0           108.0
1527  2019-12-23        11.0         12.0          101.0            79.0
1528  2019-12-24        13.0         15.0            6.0            71.0
1529  2019-12-25        13.0         12.0           52.0            50.0
1530  2019-12-26        11.0         10.0          130.0            13.0
1531  2019-12-27        12.0          NaN           57.0             NaN
1532  2019-12-28        12.0          NaN           42.0             NaN
1533  2019-12-29         8.0          NaN           11.0             NaN
1534  2019-12-30         7.0          NaN           71.0             NaN
1535  2019-12-31         9.0          NaN           71.0             NaN
1536  2020-01-02         2.0          NaN           13.0             NaN
1537  2017-03-11         NaN          NaN            1.0             NaN

[1538 rows x 5 columns]